/* Start demo styles */
.container {
  margin-top: 150px;
  text-align: center;
}
/* End demo styles */

.modal-load-content-overlay {
  background-color: rgba(0, 0, 0, .4);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  &.opened {
    display: block;
  }
}

.modal-load-content-container {
  background-color: #fff;
  border: 0;
  box-shadow: 2px 2px 7px rgba(15, 16, 21, .1);
  display: none;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  width: 600px;
  z-index: 101;
  > * {
    padding: 20px;
  }

  &.opened {
    display: block;
  }

  .modal-load-content-close {
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .modal-load-content-error {
    color: orangered;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }
}
